{% extends 'gui/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" >
                <div class="panel-heading">Data collection</div>
                <div class="panel-body">
                    <p>The X.Org Foundation collects personal information for the sole purpose of maintaining its membership records. The e-mail address of members will be used as part of a mailing list which is to be used only for distributing information to members, and to allow discussion among members.</p>

                    <p>This information will not be shared with or sold to anyone else.</p>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel panel-default" >
                <div class="panel-heading">Contact</div>
                <div class="panel-body">
                    <p>If you have problem with, or questions about this system, please <a href="https://gitlab.freedesktop.org/xorgfoundation/xorg_membership/issues/new">file a bug</a> or contact us via email at: <a href="mailto:membership@x.org">membership@x.org</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
