{% extends 'gui/base.html' %}

{% load bootstrap3 %}

{% block content %}
    <div class="panel panel-danger" >
        <div class="panel-heading">Delete your account</div>
        <div class="panel-body">
            <form method="post">
                {% csrf_token %}

                <p>You are about to delete your account. This means all the data you created on this website will be lost.</p>

                <button type="submit" class="btn btn-danger pull-right">
                Yes, I am sure!
                </button>
            </form>
        </div>
        </div>
    </div>
{% endblock %}
