{% extends 'gui/base.html' %}

{% block content %}{% load humanize %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" >
                <div class="panel-heading">Ballot history ({{object_list|length}})</div>
                <div class="panel-body">
                    <table class="table table-striped table-hover table-bordered table-sm sortable" id="suppressed_machine_lst">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Opening on</th>
                                <th>Closing on</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ballot in object_list %}
                            <tr>
                                <td><a href="{% url 'ballot-admin' ballot.id %}">{{ballot.short_name}}</a></td>
                                <td>{{ballot.opening_on|naturaltime}}</td>
                                <td>{{ballot.closing_on|naturaltime}}</td>
                            </tr>
                            {% empty %}
                            <tr><td colspan="3" class="text-center">No ballots yet</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
