{% extends 'gui/base.html' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default" >
                <div class="panel-heading">Current members of the X.Org Foundation for the period {{current_membership_period.short_name}} ({{object_list|length}})</div>
                <div class="panel-body">
                    <table class="table table-striped table-hover table-bordered table-sm sortable" id="suppressed_machine_lst">
                        <thead>
                            <tr>
                                <th>Full name</th>
                                <th>Affiliation</th>
                                <th>Public statement</th>
                                {% if user.is_superuser %}<th>Action</th>{% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for member in object_list %}
                            <tr>
                                <td>{{member.user_profile.user.get_full_name}}</td>
                                <td>{{member.user_profile.affiliation|default:"Unknown"}}</td>
                                <td>{{member.user_profile.public_statement|linebreaks}}</td>
                                {% if user.is_superuser %}<td>
                                    {% if member.user_profile.user != user and not member.user_profile.user.is_superuser %}
                                        <form action="{% url 'members-user-to-admin' pk=member.user_profile.user.id %}" method="post">{% csrf_token %}<input type="submit" value="Make Admin"></form>
                                    {% elif member.user_profile.user != user and member.user_profile.user.is_superuser %}
                                        <form action="{% url 'members-admin-to-user' pk=member.user_profile.user.id %}" method="post">{% csrf_token %}<input type="submit" value="Make User"></form>
                                    {% else %}
                                        No actions available
                                    {% endif %}
                                </td>
                                {% endif %}
                            </tr>
                            {% empty %}
                            <tr><td colspan="{% if user.is_superuser %}4{% else %}3{% endif %}" class="text-center">No members yet. How about <a href="{% url 'membership-application' %}">applying</a>?</td></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
