{% extends 'gui/base.html' %}

{% load bootstrap3 %}

{% block content %}
    <h1>{{title}}</h1>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default {% if severity %}panel-{{severity}}{% endif %}">
                <div class="panel-heading">{{panel_title}}</div>
                <div class="panel-body text-center">
                    <p>{{message}}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
