{% extends 'gui/base.html' %}

{% load bootstrap3 %}

{% block content %}
    <h1>Vote for the ballot '{{ballot.short_name}}'</h1>

    <div class="panel panel-default" >
        <div class="panel-heading">Ballot description</div>
        <div class="panel-body">
            {{ballot.description|safe|linebreaks}}
        </div>
    </div>

    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary pull-right">
            Cast vote
            </button>
        {% endbuttons %}
    </form>
{% endblock %}
